<div class="footer">
    <p>
        {% if '/contact' == path %}
            <span>Contact</span>
        {% else %}
            <a class="footer__link" href="/contact" title="Contact Us" onclick="return APP.gotoLink(this)"
               target="_blank" data-bypass="1">Contact</a>
        {% endif %}
        {% if '/about' == path %}
            <span>About Us</span>
        {% else %}
            <a class="footer__link" href="/about" title="About Big Multiplayer Chess" onclick="return APP.gotoLink(this)"
               target="_blank" data-bypass="1">About Us</a>
        {% endif %}
        {% if '/terms' == path %}
            <span>Terms &amp; Conditions</span>
        {% else %}
            <a class="footer__link" href="/terms" title="Terms &amp; Conditions" onclick="return APP.gotoLink(this)"
               target="_blank" data-bypass="1">Terms &amp; Conditions</a>
        {% endif %}
        {% if '/privacy-policy' == path %}
            <span>Privacy Policy</span>
        {% else %}
            <a class="footer__link" href="/privacy" title="Privacy Policy" onclick="return APP.gotoLink(this)"
               target="_blank" data-bypass="1">Privacy Policy</a>
        {% endif %}
           <br />
        <span>© 2013 <a class="footer__link" href="http://www.addictingwordgames.com" title="Addicting Word Games"
                        target="_blank">Addicting Word Games</a></span>
    </p>
</div>
