<div id="instructions" style="display: none">
    <h1>Pick your number of opponents</h1>

    <p class="lead">
        Pick how many human players there will be, the rest will be controlled by computers
    </p>
</div>
<div class="ws-main-btn-container">
    <button type="button" class="ws-main-btn gameon-btn-hg btn btn-success btn-lg versus-play-btn player-1-color"
            onclick="APP.goto('/versus/1player')">1 Player
    </button>
</div>
<div class="ws-main-btn-container">
    <button type="button" class="ws-main-btn gameon-btn-hg btn btn-success btn-lg versus-play-btn player-2-color"
            onclick="APP.goto('/versus/2player')"
            >2 Player
    </button>
</div>
<div class="ws-main-btn-container">
    <button type="button" class="ws-main-btn gameon-btn-hg btn btn-success btn-lg versus-play-btn player-3-color"
            onclick="APP.goto('/versus/3player')"
            >3 Player
    </button>
</div>
<div class="ws-main-btn-container">
    <button type="button" class="ws-main-btn gameon-btn-hg btn btn-success btn-lg versus-play-btn player-4-color"
            onclick="APP.goto('/versus/4player')"
            >4 Player
    </button>
</div>
<div class="ws-main-btn-container">
    <button type="button" class="ws-main-btn gameon-btn-hg btn btn-success btn-lg versus-play-btn player-5-color"
            onclick="APP.goto('/versus/5player')"
            >5 Player
    </button>
</div>
<div class="ws-main-btn-container">
    <button type="button" class="ws-main-btn gameon-btn-hg btn btn-success btn-lg versus-play-btn player-6-color"
            onclick="APP.goto('/versus/6player')"
            >6 Player
    </button>
</div>
<div class="ws-main-btn-container">
    <button class="ws-help-btn btn btn-large btn-danger gameon-btn-hg" type="button">?</button>
</div>
